<!--
<div class="container mt-4">
    <div class="row h-25">
        <div class="col-12 h-100">
            <div class="row h-25">
                <div class="col-12 h-75 text-center">
                    <h1>Smart House Control Panel</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 h-75">
        <div class="col-12 text-center">
            <img src="../assets/smart_home.png" class="img-fluid fit-image" alt="Smart home image">
        </div>
    </div>
</div>
-->

<h1>Smart House Control Panel</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<img src="../assets/house.jpg" class="img-center" alt="Smart home image">